@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(25,24,26);
  }
}

@layer components {
  .nav-item{
    @apply flex items-center md:justify-center lg:justify-start space-x-5 hover:bg-slate-800 text-xl rounded-full transition-all duration-300 ease-in-out p-3 cursor-pointer;
  }
}